<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">
            <div class="sb-sidenav-menu-heading">Menüler</div>
            <a class="nav-link" href="/Product/Index">
                <div class="sb-nav-link-icon"><i class="fas fa-wine-bottle"></i></div>
                Ürünler
            </a>
            <a class="nav-link" href="/Customer/Index">
                <div class="sb-nav-link-icon"><i class="fa-solid fa-user-group"></i></div>
                Müşteriler
            </a>
            <a class="nav-link" href="/Category/Index">
                <div class="sb-nav-link-icon"><i class="fa-solid fa-tag"></i></div>
                Kategoriler
            </a>
            <a class="nav-link" href="/Job/Index">
                <div class="sb-nav-link-icon"><i class="fa-solid fa-user-doctor"></i></div>
                Meslekler
            </a>
            <a class="nav-link" href="/Job/AddJob">
                <div class="sb-nav-link-icon"><i class="fa-solid fa-plus"></i></div>
                Yeni Meslek Girişi
            </a>
            <a class="nav-link" href="/Product/AddProduct">
                <div class="sb-nav-link-icon"><i class="fa-solid fa-plus"></i></div>
                Yeni Ürün Girişi
            </a>
            <a class="nav-link" href="tables.html">
                <div class="sb-nav-link-icon"><i class="fa-solid fa-circle-info"></i></div>
                Yardım
            </a>
        </div>
    </div>
</nav>
